@model  SimbaBank.Models.BankAccount

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td>@Model.Name</td> 
            <td>@Model.Balance</td>
            <td>@Model.Currency</td>
            <td>@Model.AnimalType</td>
        </tr>  
    </table>  
</body>
</html>  