<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1> Add new Post</h1>
    <br />
    <form action="/posts/add" method="post">
        <br />
        Add new:
        <br />
        <input type="text" name="Title" value=""><br />
        <input type="submit" value="Submit">
    </form>
</body>
</html>