@model GreetSomeone.Models.Name

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/add" method="post">
        Name:
        <input type="text" name="UserName" value="">
        <br />
        <input type="submit" value="Submit">

    </form>
</body>
</html>