<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/" method="post">
        <br />
        username:
        <br />
        <input type="text" name="username" value=""><br />
        password
        <input type="text" name="password" value=""><br />
        <input type="submit" value="Submit">
    </form>
</body>
</html>