<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <h1> Update ToDo</h1>
    <br />
    <form action="/Upgrade" method="post">
        <br />
       
        <br />
        <input type="text" name="Title" value=""><br />
        is done
        <input type="checkbox" name="IsDone" value="true" /><br />
        is urgent
        <input type="checkbox" name ="IsUrgent" value="true" /><br />
        <input type="submit" value="Submit">
    </form>
    <a href="/list">Cancel</a>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>