<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1> Update ToDo</h1>
    <br />
    <form action="/todo/Upgrade" method="post">
        <br />
       
        <br />
        <input type="text" name="Title" value=""><br />
        is done
        <input type="checkbox" name="IsDone" value="true" /><br />
        is urgent
        <input type="checkbox" name ="IsUrgent" value="true" /><br />
        <input type="submit" value="Submit">
    </form>
    <a href="/todo/list">Cancel</a>
</body>
</html>