
#header {
    width: 660px;
    border:10px solid  red;
    background-color:yellow;
    height: 30px;
}
#container {
    margin: auto;
    position: center;
    width: 680px;
    background-color: #ffcc33;
    height: 1234px;
   
    
}
#first {
    margin-top:10px;
    width: 320px;
    float: left;
    height: 430px;
    background-color: blue;
    border: 10px solid red;
    
   
        
}
#second {
    margin-top:10px;
    width: 320px;
    float: left;
    height: 430px;
    background-color: green;
    border: 10px solid red;
    
}
#third{
    
    margin-top:10px;
    width: 660px;
    float: left;
    height: 430px;
    background-color: green;
    border: 10px solid red;

}
#fourth{
    margin-top:50%;
    width: 156px;
    float: left;
    height: 10%;
    
    border: 2px solid black;
}
#fifth{
    margin-top:50%;
    width: 156px;
    float: left;
    height: 10%;
    
    border: 2px solid black;

}
#sixth{
    margin-top:10%;
    width: 316px;
    float: left;
    height: 30%;
    
    border: 2px solid black;

}
