
#header {
    width: 660px;
    
    background-color:#DCD6CD;
    height: 30px;
    padding:10px;
}
h2{
    background-color: #938C97;
}
h1{
    
    margin:0px;
    padding:0px
}
#container {
    margin: auto;
    position: center;
    width: 680px;
    background-color:#DCD6CD;
    height: 1234px;
   
    
}
#first {
    margin-top:10px;
    width: 320px;
    float: left;
    height: 400px;
    background-color: #DCD6CD;
    padding:10px;
    
   
        
}
#second {
    margin-top:10px;
    width: 320px;
    float: left;
    height: 400px;
    background-color:#DCD6CD ;
    padding:10px;
    
    
}
#third{
    
    margin-top:10px;
    width: 660px;
    float: left;
    height: 430px;
    background-color: #DCD6CD;
    
    padding:10px;

}
#fourth{
    margin-top:10%;
    width: 156px;
    float: left;
    height: 10%;
    
    
}
#fifth{
    margin-top:10%;
    width: 156px;
    float: left;
    height: 10%;
    
    

}
#sixth{
    margin-top:10%;
    width: 316px;
    float: left;
    height: 30%;
    
   

}
h4{
    padding-top:12px;
   
    
    margin:0px;

}
#anyad{
    padding-left:10px;
    width: 4em;
}
#left{
    padding:0px;
}
#select{
    width: 13em;
}
#name{
    width:20em;
}