<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <form action="/Log" method="post">
        Student or Mentor:
        <input type="text" name="level" value="">
        <br />
        <input type="submit" value="Submit">
    </form>
</body>
</html>