<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div>
        <h1>Student or Mentor:</h1>
        <form action="/Log" method="post">
            <br />
            <input type="text" name="level" value="">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>