<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <form action="/addLine" method="post">
        <input type="text" name="Name" value="">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
