@model DIPractice.Models.CounterModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>@Model.CounterForMyAwsomeApp</p>
    <form action="/add" method="post">
        <input type="submit" value="Submit">
    </form>
</body>
</html>