<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <h1> Add new Post</h1>
    <br />
    <form action="/posts/addnew" method="post">
        <br />
        Add new:
        <br />
        <input type="text" name="content" value=""><br />
        <input type="submit" value="Submit">
    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>