@model System.Collections.Generic.List<GroupChat.Models.Message>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    @foreach (var item in @Model)
    {
        <tr>
                <td>@item.User</td>
                <td>@item.Content</td>
                <td>@item.DateOfSend</td>
        </tr>
            <br />
    }
    <form action="/sendmessage" method="post">
        <input type="text" name="Content" value=""><br />
        <input type="submit" value="Submit">
    </form>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
