<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <form action="/userlog" method="post">
        <br />
        <div class="form-group">
            <input type="text" name="user"><br>
        </div>
        <input type="submit" value="Submit">
    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>