<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/userlog" method="post">
        <br />
        <div class="form-group">
            <input type="text" name="username"><br>
        </div>
        <input type="submit" value="Submit">
    </form>

</body>
</html>